<%- include('_header') %>

<div class="card border-1 shadow" style="padding-top: 50px; padding-left: 100px; padding-right: 100px; padding-bottom: 50px;">
    <h3 class="lead">
        "We are a team of developers to explore, create and experiment new things. We welcome you to visit our page. You can check our
        organisation here <a href="http://enginehex.me" target="_blank"> enginehex.me </a>.
    </h3>
</div>

<%- include('_footer') %>