<%- include('_header') %>
    
  <div>
    <!--Heading-->
    <header class="text-center py-5 mb-4 border-1 shadow" style="background-color:snow;">
      <div class="container">
        <h1 class="font-weight-light" style="color: gray;">Welcome to our page</h1>
      </div>
    </header><br>

    <!--Intro Quote-->
    <div class="card border-2 shadow" style="background-image: url(https://www.smartertravel.com/uploads/2020/03/ST_ZoomBackground_Beach03.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; height: 100%">
    <section class="py-5">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 mx-auto">
  
                  <!-- CUSTOM BLOCKQUOTE -->
                  <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                      <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                      <p class="mb-0 mt-2 font-italic">"A successful website does three things:
                        It attracts the right kinds of visitors.
                        Guides them to the main services or product you offer.
                        Collect Contact details for future ongoing relation.”</p>
                      <footer class="blockquote-footer pt-4 mt-4 border-top">Mohammad Saad
                          <cite title="Source Title">Source Title</cite>
                      </footer>
                  </blockquote><!-- END -->
  
              </div>
          </div>
      </div>
    </section>
    </div>
  </div>
  <br><br><br><br>

    <!-- Meet Team -->
<header class="text-center py-5 mb-4 border-1 shadow" style="background-color: snow ;">
  <div class="container">
    <h1 class="font-weight-light" style="color: gray;">Meet the Team</h1>
  </div>
</header>
<br><br><br><br>
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-1 shadow rounded">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQFBlvJ_3uTTkw/profile-displayphoto-shrink_800_800/0?e=1596067200&v=beta&t=NwM7lVkC2CEc_lYOo57sQNJ20IJQL-scT_s2VlUAcy4" class="card-img-top rounded-circle" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Jatin Muley</h5>
          <div class="card-text text-black-50">Web Developer</div><br>

          <a href="https://github.com/jatinmuley" target="_blank">
            <i class="fa fa-fw fa-github" style="font-size: 30px;"></i>
        </a>

        <a href="https://www.facebook.com/jatin.muley.5" target="_blank">
            <i class="fa fa-fw fa-facebook" style="font-size:30px"></i>
        </a>
    
        <a href="https://www.linkedin.com/in/jatin-muley-022982188/" target="_blank">
            <i class="fa fa-fw fa-linkedin" style="font-size: 30px;"></i>
        </a>
    
        <a href="https://www.instagram.com/jatinmuley/" target="_blank">
            <i class="fa fa-fw fa-instagram" style="font-size: 30px;"></i>
        </a>

        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-1 shadow rounded">
        <img src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/58711691_2362701240454488_8514538310044033669_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=100&_nc_ohc=uyzXZxrIIVMAX-c5fmD&oh=1b745fa2b5e8b4a8fd0f22dfc3f81e78&oe=5EFA20A6" class="card-img-top rounded-circle" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Anshul Hedau</h5>
          <div class="card-text text-black-50">Web Developer</div><br>

                <a href="https://github.com/anshul-hedau10" target="_blank">
                    <i class="fa fa-fw fa-github" style="font-size: 30px;"></i>
                </a>

                <a href="https://www.facebook.com/hedau.anshul/" target="_blank">
                    <i class="fa fa-fw fa-facebook" style="font-size:30px"></i>
                </a>
            
                <a href="https://www.linkedin.com/in/anshul-hedau-47b786183/" target="_blank">
                    <i class="fa fa-fw fa-linkedin" style="font-size: 30px;"></i>
                </a>
            
                <a href="https://www.instagram.com/anshul_hedau_01/" target="_blank">
                    <i class="fa fa-fw fa-instagram" style="font-size: 30px;"></i>
                </a>

        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-1 shadow rounded">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQFD0TdsxO3MwQ/profile-displayphoto-shrink_800_800/0?e=1596067200&v=beta&t=rGl_ParNjb-U8-et3bzs4D-faB77smznBO-T5b7hSpI" class="card-img-top rounded-circle" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Bhushan Surjuse</h5>
          <div class="card-text text-black-50">Web Developer</div><br>

          <a href="https://github.com/04Bhushan/" target="_blank">
            <i class="fa fa-fw fa-github" style="font-size: 30px;"></i>
        </a>

        <a href="https://www.facebook.com/bhushansurjuse04" target="_blank">
            <i class="fa fa-fw fa-facebook" style="font-size:30px"></i>
        </a>
    
        <a href="https://www.linkedin.com/in/bhushan-surjuse-2187b0195/" target="_blank">
            <i class="fa fa-fw fa-linkedin" style="font-size: 30px;"></i>
        </a>
    
        <a href="https://www.instagram.com/_bhushan_surjuse/" target="_blank">
            <i class="fa fa-fw fa-instagram" style="font-size: 30px;"></i>
        </a>

        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-1 shadow rounded">
        <img src="https://media-exp1.licdn.com/dms/image/C5603AQHOJEiycGVc0w/profile-displayphoto-shrink_800_800/0?e=1596067200&v=beta&t=nBjqYY9dXXD2Xx5-1qPvz78JQcWsPyLoGC8KlMayqSs" class="card-img-top rounded-circle" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Prajwal Hatwar</h5>
          <div class="card-text text-black-50">Web Developer</div><br>

          <a href="https://github.com/prajwal-27/" target="_blank">
            <i class="fa fa-fw fa-github" style="font-size: 30px;"></i>
        </a>

        <a href="https://www.facebook.com/prajwal.hatwar.14" target="_blank">
            <i class="fa fa-fw fa-facebook" style="font-size:30px"></i>
        </a>
    
        <a href="https://www.linkedin.com/in/prajwal-hatwar-211507193/" target="_blank">
            <i class="fa fa-fw fa-linkedin" style="font-size: 30px;"></i>
        </a>
    
        <a href="https://www.instagram.com/prajwalhatwar1999/" target="_blank">
            <i class="fa fa-fw fa-instagram" style="font-size: 30px;"></i>
        </a>

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container --> 
    <br><br><br><br>
    <!--Register Form-->
    <div class="container">
      <br> 
      
      
      <div class="row justify-content-center">
      <div class="col-md-6">
      <div class="card shadow border-1">
      <header class="card-header">
        <a href="/login" class="float-right btn btn-outline-primary mt-1">Log in</a>
        <h4 class="card-title mt-2">Sign up</h4>
      </header>
      <article class="card-body">
      <form>
        <div class="form-row">
          <div class="col form-group">
            <label>First name </label>   
              <input type="text" class="form-control" placeholder="">
          </div> <!-- form-group end.// -->
          <div class="col form-group">
            <label>Last name</label>
              <input type="text" class="form-control" placeholder=" ">
          </div> <!-- form-group end.// -->
        </div> <!-- form-row end.// -->
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="">
          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div> <!-- form-group end.// -->
        <div class="form-group">
            <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="option1">
            <span class="form-check-label"> Male </span>
          </label>
          <label class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gender" value="option2">
            <span class="form-check-label"> Female</span>
          </label>
        </div> <!-- form-group end.// -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control">
          </div> <!-- form-group end.// -->
          <div class="form-group col-md-6">
            <label>Country</label>
            <select id="inputState" class="form-control">
              <option> Choose...</option>
                <option>India</option>
                <option>Russia</option>
                <option>United States</option>
                <option>Australia</option>
                <option>Afganistan</option>
            </select>
          </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <div class="form-group">
          <label>Create password</label>
            <input class="form-control" type="password">
        </div> <!-- form-group end.// -->  
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Register  </button>
          </div> <!-- form-group// -->      
          <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
      </form>
      </article> <!-- card-body end .// -->
      <div class="border-top card-body text-center">Have an account? <a href="/login">Log In</a></div>
      </div> <!-- card.// -->
      </div> <!-- col.//-->
      
      </div> <!-- row.//-->
      
      
      </div> 
    
<%- include('_footer') %>